@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


body {
    font-family: 'Rubik', sans-serif;
}

iframe {
  width: 100%;
}

.text-color {
  color: #eabf9f;
}

.navbar {
  background-color: #3fc1c9;
}

.navbar-nav {
  margin-right: 10px;
}

.navbar-nav .nav-item {
  margin-right: 50px;
}

.container-img {
  display: flex;

  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 75%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.button-yellow {
  font-weight: bold;
  color: white;
  background-color: #364f6b;
}

.button-yellow:hover {
  color: #364f6b;
  background-color: #80e4e9;
  border: 2px #364f6b solid;
}

.button-blue {
  background-color: #364f6b;
  font-weight: bold;
  color: white;
  border: 2px white solid;
}

.button-blue:hover {
  color: #364f6b;
  background-color: white;
  border: 2px #364f6b solid;
}

.background-testimoni {
  background-color: #fff;
}

.video-center {
  margin: 0 auto;
}

.sunna_landing {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}

.title-landing {
  height: 90vh;
  background: #3fc1c9;
  /* background: linear-gradient(90deg, rgb(135, 36, 36) 0%, rgb(0, 0, 0) 40%, rgb(105, 72, 72) 100%);} */
}

.landing-text-color {
  color: #364f6b;
}

.text-testi {
  color: #364f6b;
}

.footer-color {
  background-color: #3fc1c9;
  color: white;
}

.navbar-landing {
  /* background-color: #1E212D; */
  background: linear-gradient(90deg,
      rgb(62, 9, 9) 0%,
      rgbargb(0, 0, 0),
      rgb(0, 0, 0) 100%);
}

.pelayanan-landing {
  background-color: #3fc1c9;
}

.button-pelayanan {
  background-color: #fff;
  font-weight: bold;
  color: #364f6b;
  border: 2px white solid;
}

/* Input Field CSS */
.datainput {
  position: relative;
  margin: 5px 0 20px;
}

.datainput p {
  font-size: 12px;
  background: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0.5rem;
}

.whatsapp-form textarea {
  min-height: 120px;
}

.datainput select {
  padding: 12px 0;
  color: #555;
  font-size: 14px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: #fff;
}

.datainput input,
.datainput textarea {
  font-size: 15px;
  padding: 15px 0;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

.datainput input:focus,
.datainput textarea:focus {
  outline: none;
}

.datainput label {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 18px;
  transition: 0.2s ease all;
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
  top: -10px;
  font-size: 14px;
  color: #21a51f;
}

#notif-license span {
  font-size: 40px;
}

#notif-license {
  display: none;
  position: fixed;
}

.card {
  background-color: #3fc1c9;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #21a51f;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.datainput input:focus~.bar:before,
.datainput input:focus~.bar:after,
.datainput textarea:focus~.bar:before,
.datainput textarea:focus~.bar:after {
  width: 50%;
}

.indigox {
  background: #3f51b5;
}

.orangex {
  background: #ff9800;
}

.pinkx {
  background: #e91e63;
}

.bluex {
  background: #2196f3;
}

.purplex {
  background: #9c27b0;
}

.redx {
  background: #f44336;
}

.greenx {
  background: #4caf50;
}

.highlight {
  position: absolute;
  height: 50%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.datainput input:focus~.highlight,
.datainput textarea:focus~.highlight {
  animation: inputHighlighter 0.3s ease;
}

.datainput input:focus~label,
.datainput input:valid~label,
.datainput textarea:focus~label,
.datainput textarea:valid~label {
  top: -10px;
  font-size: 13px;
  color: #21a51f;
}

/* Default Whatsapp Form CSS by www.idblanter.com */
form.whatsapp-form {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 0.5rem;
  padding: 20px;
  box-sizing: border-box;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
}

.whatsapp-form a.send_form {
  color: #fff;
  background: #21a51f;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 0.3rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 15px;
}

#text-info span {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
  border-radius: 0.5rem;
}

#text-info span.yes {
  background: #c6ffc5;
  color: #0ea904;
}

#text-info span.no {
  background: #ffc5c5;
  color: #ce0404;
}

/* Media query */
@media only screen and (max-width: 768px) {
  .button-yellow {
    margin: 0px;
    padding: 0.3rem 0.9rem 0.4rem !important;
  }

  .button-blue {
    margin: 0px;
    padding: 0.3rem 0.9rem 0.4rem !important;
  }

  .small-text-button {
    font-size: 13px;
  }

  .text-testi {
    text-align: center;
  }

  .chevron-left {
    margin: 0 !important;
    font-size: 2rem;
  }

  .chevron-right {
    font-size: 2rem;
  }

  .chevron-container {
    text-align: center !important;
  }

  .text-card-testimoni {
    font-size: 12px;
  }

  #foot {
    margin-top: 1.4rem;
  }

  .button-pelayanan {
    margin: 0px;
    padding: 0.3rem 0.9rem 0.4rem !important;
  }

  .whatsapp-form{
    width: 100% !important;
  }
}
